body {
  font-family: "Poppins", sans-serif;
}
.container-header {
  margin: 0 auto;
  width: 1140px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.logo {
  max-width: 100%;
  height: 50%;
}
.menu-list {
  font-size: 12px;
  display: flex;
  list-style: none;
}
.menu-list a {
  font-weight: 900;
  text-decoration: none;
  color: #222;
}
.menu-list li {
  padding-left: 20px;
}
.btn-home {
  color: #8490ff;
}
.banner {
  background: #f9f9ff;
}
.banner-wrapper {
  display: flex;
  width: 1140px;
  margin: 0 auto;
}
.banner-left a {
  font-size: 14px;
  padding: 10px;
  color: white;
  background: #8490ff;
  text-decoration: none;
}
.banner-left {
  padding-top: 100px;
  width: 50%;
}
.banner-right {
  width: 50%;
}
.banner-right img {
  max-width: 100%;
}
h6 {
  font-size: 14px;
  color: #222222;
}
h1 {
  font-size: 60px;
  color: #222222;
  font-weight: 600;
}
p {
  font-size: 14px;
  color: #222222;
  font-weight: 300;
  padding-bottom: 30px;
}
